@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" />
    <h1 >Training Application</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript. And Training Application is one of it.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Admin</h2>
        <p>
            Can login to the system through the first page of the application
            <br />
            Can create/edit/delete new user account for trainer/training staff
            and assign/change(if existing user) username and  a password
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Training Staff</h2>
        <p>
            A registered training staff, who is assigned a user name and a
            password by the administrator logs in can create trainee accounts
            by entering details like trainee name, trainee accounts, age, date of
            birth, education, main programming language, TOEIC score,
            experience details, department, location, etc.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trainer</h2>
        <p>
            In the same system, the trainer who have been registered by the
            administrator can login and can update his profile such as Trainer

            name, External or Internal Type, education, working place,
            telephone, and email address.
            <br /> Can view courses which have a topic he is assigned to..
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>