<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Trainee", "Index", "Trainees")</li>
    <li>@Html.ActionLink("Trainer", "Index", "Trainers")</li>
    <li>@Html.ActionLink("TrainingStaff", "Index", "TrainingStaffs")</li>
</ul>
