<li>
    <button type="button" style="background-color:black" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage
    </button>
    <div class="dropdown-menu">
        @Html.ActionLink("Trainee & Course", "Index", "Trainee_Course")<br>
        @Html.ActionLink("Course & Category", "Index", "Course_CourseCate")<br>
        @Html.ActionLink("Course & Topic & Trainer", "Index", "Trainer_Course_Topic")<br>
    </div>
</li>