
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Profile", "TrainerProfile", "TrainerAction")</li>
        <li>@Html.ActionLink("MyCourse", "TrainerCourseTopic", "TrainerAction")</li>

    </ul>
