<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Profile", "TraineeProfile", "TraineeAction")</li>
    <li>@Html.ActionLink("MyCourse", "TraineeCourse", "TraineeAction")</li>
</ul>

