
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Profile","TrainerProfile","TrainerAction")</li>
    <li>@Html.ActionLink("MyCourse","TrainerCourse","TrainerAction")</li>
    <li>@Html.ActionLink("MyTopic","TrainerTopic","TrainerAction")</li>
</ul>
